<section class="about" id="about">
    <Container>
        <div class="about__content">
            <article class="about__article">
                <h2 class="about__title">О компании</h2>
                <p class="about__text">Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже более 11 лет.</p>
                <p class="about__text">Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!</p>
            </article>
            <div class="about__image">
                <img src="images/notebook.png" alt="background" />
            </div>
        </div>
    </Container>
</section>

