<section class="calculation" id="calculation">

    <div class="calculation__form">
        <h2 class="calculation__title">
            Получить рассчет стоимости доставки вашего груза
        </h2>

        <StepForm />
    </div>

    <img src="images/man.png" alt="man"/>

</section>

@code {

}
