<section class="delivery" id="delivery">
    <Container>
        <h2 class="delivery__title">Варианты доставки грузов из Китая</h2>
        <Carousel Items="@AppData.DeliveryCards" ServicesItems="null"/>
    </Container>
</section>