.faq{
    display: grid;
    grid-template-areas: 
        "title title" 
        "accordion form";

    max-width: 1140px;
    grid-column-gap: 35px;
    grid-row-gap: 50px;
    margin: 0 auto;
    padding-bottom: 100px;
}



.faq__title{
    grid-area: title;
    font-size: 2.25rem;
    text-transform: uppercase;
    position: relative;
    padding: 10px 0;
    text-align: center;
}

    .faq__title::after {
        display: block;
        content: "";
        width: 85px;
        height: 2px;
        background: #E58D35;
        position: absolute;
        bottom: 0;
        left: calc(50% - 42.5px);
    }

.faq__title:not(:last-child){
    margin-bottom: 50px;
}

.faq__accordion{
    grid-area: accordion;
}

.faq__form{
    grid-area: form;
}

@media (max-width: 768px) {
    .faq {
        grid-template-areas:
            "title"
            "accordion"
            "form";
        padding-bottom: 50px;
        grid-row-gap: 25px;
    }

    .faq__title {
        font-size: 1.5rem;
    }
}