<section class="faq" id="faq">

    <h2 class="faq__title">
        Часто задаваемые вопросы
    </h2>

    <Accordion Class="faq__accordion"/>

    <RequestForm Class="faq__form"/>

</section>

@code {

}
