<section class="services" id="services">
    <Container Class="services__container">
        <h2 class="services__title">Услуги</h2>
        <Carousel ServicesItems="@AppData.ServicesCards" Items="null" />
    </Container>
</section>