@inherits LayoutComponentBase

<MudThemeProvider />

<Header @ref="header">
    <Button 
        OnClick="ShowRequest" 
        Title="Оставить заявку" 
        @ref="requestButton" 
        Type="Data.ButtonType.Button"
        Class="header__button"/>
</Header>

<div class="page">
    <main>
        <CascadingValue Value="requestButton">
            <article class="content">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

<Footer />

<Overlay Hidden=@hideRequest>
    <RequestForm OnValidSubmit="()=> hideRequest = true" />
</Overlay>

@code {
    public bool hideRequest = true;
    private Header? header;
    private Cargo.Components.Button? requestButton;

    public void ShowRequest()
    {
        if (hideRequest)
        {
            header.CloseMenu();
            hideRequest = false;
        }
    }
}