<footer class="footer" id="footer">
    <Container Class="footer__container">

        <div class="footer__block">
            <Logo />
            <div class="footer__text">
                <p>
                    <a href="tel:+78006001869" class="telephone">8(800)600-18-69</a>
                </p>
                <a href="mailto:info@cargoasia.info" class="email">info@cargoasia.info</a>
                <p>Адрес в Китае:</p>
                <p>浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话</p>
                <p>15966660379</p>
            </div>
            <SocialBlock />
        </div>

        <div class="footer__block footer__block_links">
            <h4 class="footer__title">Грузоперевозки</h4>
            <div class="footer__links">
                <a href="#">Цены и сроки</a>
                <a href="#">Услуги</a>
                <a href="#">О компании</a>
                <a href="#">Контакты</a>
                <a href="#">Оформить груз</a>
            </div>
        </div>

        <div class="footer__block footer__block_links">
            <h4 class="footer__title">Услуги</h4>
            <div class="footer__links">
                <a href="#">Выкуп товара</a>
                <a href="#">Страховка груза</a>
                <a href="#">Аренда склада</a>
                <a href="#">Перевод денежных средств</a>
            </div>
        </div>

        <div class="footer__block footer__block_links">
            <h4 class="footer__title">Информация</h4>
            <div class="footer__links">
                <a href="#">Отзывы</a>
                <a href="#">Требования к грузу</a>
                <a href="#">Договор-оферта</a>
                <a href="#">Как заключить договор</a>
                <a href="#">Способы оплаты услуг</a>
                <a href="#">Документы</a>
                <a href="#">Статьи</a>
            </div>
        </div>

    </Container>
</footer>

@code {

}
