@inject IJSRuntime js

<a class=@cssClass href="/" @onclick:preventDefault @onclick="Scroll">
    <img src="@AppData.LogoPath" alt="Логотип"/>
</a>

@code{
    private string cssClass = "logo";

    [Parameter]
    public string? Class 
    { 
        get => cssClass;
        set
        {
            cssClass = cssClass.AddClass(value); 
        } 
    }

    private async void Scroll()
    {
        await js.InvokeVoidAsync("Scroll", "top-carousel");
    }
}