.request {
    padding: 40px;
    max-width: 390px;
    background: #363A4D;
    border-radius: 20px;
    user-select: none;
}

@media (max-width: 768px){
    .request{
        max-width: unset;
    }
}

@media (max-width: 390px) {
    .request {
        margin: 0 -20px;
    }
}

.request__title{
    font-size: 1.5rem;
    font-weight: 700;
}

.request__text{
    font-size: 1.0625rem;
}


.request__text:not(:last-child){
    margin-bottom: 20px;
}

.form-request__fieldset{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.form-request__element {

}

.form-request__fieldset ::deep .validation-message {
    color: lightcoral;
    font-size: 0.8rem;
    padding: 2px 0;
}

.element {
}

.element__input{
    resize: none;
}

.form-request__element ::deep .element__input {
    padding: 20px;
    border-radius: 10px;
    min-width: 100%;
    transition: 0.2s ease;
    resize: none;
}

    .form-request__element ::deep .element__input:focus {
        outline: 5px solid #505364;
    }


    .form-request__element ::deep .element__input:focus::placeholder {
        transform: translate3d(-100%, 0, 0);
    }

    .form-request__element ::deep .element__input::placeholder {
        color: #D1D1D1;
    }

        .form-request__element ::deep .mud-input-control-input-container {
            background: white;
            border-radius: 10px;
        }

.form-request__element ::deep .mud-input-slot {
    padding: 20px;
    font-size: 0.9rem;
    border-radius: 10px;
}

    .form-request__element ::deep .mud-input-slot:focus {
        outline: 5px solid #505364;
    }

        .form-request__element ::deep .mud-input-slot:focus::placeholder {
            transform: translate3d(-100%, 0, 0);
        }

    .form-request__element ::deep .mud-input-control.mud-input-input-control.element__input {
        margin: 0;
        padding: 0;
    }

.form-request__element ::deep .mud-input.mud-input-text.mud-input-underline {
    margin: 0;
}

    .form-request__element ::deep .mud-input.mud-input-text.mud-input-underline::before{
        display: none;
    }
    .form-request__element ::deep .mud-input.mud-input-text.mud-input-underline::after {
        display: none;
    }


    .form-request__element ::deep #mask {
        color: lightcoral;
        padding: 2px 0;
    }

.form-request__fieldset ::deep .button {
}

@media (max-width: 768px) {
    .form-request__fieldset ::deep .button {
        max-width: unset;
    }
}