<div class="social">
    <MudTooltip Text="Инстаграм" Color="Color.Primary">
        <a href="https://www.instagram.com/" target="_blank">

            <img class="social__icon" src="images/social_icons/instagram.png" alt="Иконка Инстаграм"/></a>
    </MudTooltip>
    <MudTooltip Text="В контакте" Color="Color.Primary">
        <a href="https://vk.com/" target="_blank">
            <img class="social__icon" src="images/social_icons/vkontakte.png" alt="Иконка В контакте"/>
        </a>
    </MudTooltip>
    <MudTooltip Text="Телеграм" Color="Color.Primary">
        <a href="https://telegram.org/" target="_blank">
            <img class="social__icon" src="images/social_icons/telegram.png" alt="Иконка Телеграм"/>
        </a>
    </MudTooltip>
</div>

